workflow/mia-telegram.json
{
  "name": "MIA Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1600, 0],
      "id": "telegram-webhook-001",
      "webhookId": "telegram-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst message = body.message || body.edited_message;\nif (!message) { return []; }\nconst chatid = String(message.chat.id);\nconst fromname = message.from.first_name || 'Sem nome';\nconst text = message.text || '';\nif (!text || text.trim() === '') { return []; }\nreturn [{ json: { chatid, fromname, text } }];"
      },
      "name": "Extrai mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1360, 0],
      "id": "extrai-mensagem-001"
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date();\nconst brasilia = new Date(agora.getTime() - 3 * 60 * 60 * 1000);\nconst hora = brasilia.getUTCHours();\nconst dia = brasilia.getUTCDay();\nconst dentroHorario = dia >= 1 && dia <= 6 && hora >= 8 && hora < 18;\nreturn [{ json: { ...$input.first().json, dentroHorario } }];"
      },
      "name": "Verifica horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1120, 0],
      "id": "verifica-horario-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [{"id": "c1", "leftValue": "={{ $json.dentroHorario }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Dentro do horario?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-880, 0],
      "id": "dentro-horario-001"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst texto = 'Ola, ' + d.fromname + '!\\n\\nA Dra. Vanessa esta fora do horario de atendimento.\\n\\nUrgencias: procure um veterinario 24 horas.\\n\\nDemais casos: ela retornara assim que possivel.';\nreturn [{ json: { chatid: d.chatid, texto, historico: [] } }];"
      },
      "name": "Resposta fora horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-640, 240],
      "id": "resposta-fora-horario-001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {"mode": "id", "value": "vane1703@gmail.com"},
        "returnAll": false,
        "limit": 1,
        "options": {"timeMin": "={{ $now }}", "timeMax": "={{ $now.plus({ minutes: 60 }) }}"}
      },
      "name": "Busca evento atual",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-640, -120],
      "id": "busca-evento-001",
      "alwaysOutputData": true,
      "credentials": {"googleCalendarOAuth2Api": {"id": "hHZW471d2UWrusiE", "name": "Vanessa Google Calendar"}}
    },
    {
      "parameters": {
        "jsCode": "const eventos = $input.all();\nconst ocupada = eventos.length > 0 && eventos[0].json && eventos[0].json.id;\nconst msg = $('Extrai mensagem').first().json;\nreturn [{ json: { chatid: msg.chatid, fromname: msg.fromname, text: msg.text, ocupada: !!ocupada } }];"
      },
      "name": "Avalia estado Vanessa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, -120],
      "id": "avalia-estado-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT historico FROM conversas_telegram WHERE chat_id = '{{ $json.chatid }}' LIMIT 1",
        "options": {}
      },
      "name": "Busca historico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-160, -120],
      "id": "busca-historico-001",
      "credentials": {"postgres": {"id": "uOqYjeak01QLTVUy", "name": "MIA Neon"}}
    },
    {
      "parameters": {
        "jsCode": "const estado = $('Avalia estado Vanessa').first().json;\nconst rows = $input.all();\n\nlet historico = [];\ntry {\n  if (rows.length > 0 && rows[0].json && rows[0].json.historico) {\n    historico = JSON.parse(rows[0].json.historico);\n  }\n} catch(e) { historico = []; }\n\nhistorico.push({ role: 'user', content: estado.text });\n\nconst situacao = estado.ocupada ? 'ocupada' : 'livre';\n\nreturn [{ json: { chatid: estado.chatid, fromname: estado.fromname, text: estado.text, situacao, historico } }];"
      },
      "name": "Define situacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, -120],
      "id": "define-situacao-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
          "conditions": [{"id": "c2", "leftValue": "={{ $json.situacao }}", "rightValue": "ocupada", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Vanessa ocupada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [320, -120],
      "id": "vanessa-ocupada-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "ANTHROPIC_KEY_PLACEHOLDER"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 800, \"system\": \"Voce e MIA, assistente da Dra. Vanessa Okamura da Em Casa Vet.\\n\\nFaca a triagem do tutor. O nome dele e {{ $json.fromname }}. Colete em conversa fluida:\\n1. Nome do animal\\n2. Especie (cao ou gato)\\n3. Idade\\n4. Motivo do contato\\n\\nUma pergunta por vez. Sem markdown.\\n\\nQuando tiver tudo responda EXATAMENTE:\\n[TRIAGEM_COMPLETA]\\nTutor: {nome}\\nAnimal: {nome}\\nEspecie: {especie}\\nIdade: {idade}\\nSituacao: {resumo}\", \"messages\": {{ JSON.stringify($json.historico) }}}",
        "options": {}
      },
      "name": "Triagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [560, -240],
      "id": "triagem-001"
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json.content[0].text;\nconst dados = $('Define situacao').first().json;\nconst historico = dados.historico;\nhistorico.push({ role: 'assistant', content: resposta });\nreturn [{ json: { chatid: dados.chatid, texto: resposta, historico } }];"
      },
      "name": "Extrai triagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, -240],
      "id": "extrai-triagem-001"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst texto = 'Ola, ' + dados.fromname + '!\\n\\nA Dra. Vanessa esta concluindo um atendimento e retornara em breve.\\n\\nPode relatar o que esta acontecendo que ela lera assim que puder.';\nreturn [{ json: { chatid: dados.chatid, texto, historico: dados.historico } }];"
      },
      "name": "Resposta livre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 120],
      "id": "resposta-livre-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversas_telegram (chat_id, historico, last_message, last_message_at, updated_at) VALUES ('{{ $json.chatid }}', '{{ JSON.stringify($json.historico).replace(/'/g, \"''\") }}', '{{ $json.texto.substring(0,100).replace(/'/g, \"''\") }}', NOW(), NOW()) ON CONFLICT (chat_id) DO UPDATE SET historico = EXCLUDED.historico, last_message = EXCLUDED.last_message, last_message_at = EXCLUDED.last_message_at, updated_at = NOW()",
        "options": {}
      },
      "name": "Salva historico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1040, 0],
      "id": "salva-historico-001",
      "credentials": {"postgres": {"id": "uOqYjeak01QLTVUy", "name": "MIA Neon"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botTELEGRAM_TOKEN_PLACEHOLDER/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ $json.chatid }}, \"text\": {{ JSON.stringify($json.texto) }}}",
        "options": {}
      },
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1280, 0],
      "id": "envia-resposta-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true}",
        "options": {}
      },
      "name": "Resposta webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 0],
      "id": "resposta-webhook-001"
    }
  ],
  "connections": {
    "Webhook Telegram": {"main": [[{"node": "Extrai mensagem", "type": "main", "index": 0}]]},
    "Extrai mensagem": {"main": [[{"node": "Verifica horario", "type": "main", "index": 0}]]},
    "Verifica horario": {"main": [[{"node": "Dentro do horario?", "type": "main", "index": 0}]]},
    "Dentro do horario?": {"main": [
      [{"node": "Busca evento atual", "type": "main", "index": 0}],
      [{"node": "Resposta fora horario", "type": "main", "index": 0}]
    ]},
    "Busca evento atual": {"main": [[{"node": "Avalia estado Vanessa", "type": "main", "index": 0}]]},
    "Avalia estado Vanessa": {"main": [[{"node": "Busca historico", "type": "main", "index": 0}]]},
    "Busca historico": {"main": [[{"node": "Define situacao", "type": "main", "index": 0}]]},
    "Define situacao": {"main": [[{"node": "Vanessa ocupada?", "type": "main", "index": 0}]]},
    "Vanessa ocupada?": {"main": [
      [{"node": "Triagem", "type": "main", "index": 0}],
      [{"node": "Resposta livre", "type": "main", "index": 0}]
    ]},
    "Triagem": {"main": [[{"node": "Extrai triagem", "type": "main", "index": 0}]]},
    "Extrai triagem": {"main": [[{"node": "Salva historico", "type": "main", "index": 0}]]},
    "Resposta livre": {"main": [[{"node": "Salva historico", "type": "main", "index": 0}]]},
    "Resposta fora horario": {"main": [[{"node": "Salva historico", "type": "main", "index": 0}]]},
    "Salva historico": {"main": [[{"node": "Envia resposta", "type": "main", "index": 0}]]},
    "Envia resposta": {"main": [[{"node": "Resposta webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
